.add-task {
  display: flex;
  align-items: start;

  gap: 32px;

  &__inputs {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    gap: 8px;
  }
}
